.red {
	color: red;
}

.form-errors {
	margin: .5rem;
	border-radius: 5px;
	box-shadow: 4px 4px 10px 0 rgba(50,50,50,0.5);
}

.comment-convoluted {
	position: relative;
	overflow: hidden;
	max-height: 10rem;
}

.comment__body {
	display: block;
}

.comment-convoluted::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	max-height: 100%;
	background: rgb(255,255,255);
	background: linear-gradient(
			180deg,
			rgba(55,255,255,0) 0%,
			rgba(55,255,255,0) 50%,
			rgba(255,255,255,1) 100%);
}

.btn-expand {
	position: relative;
	bottom: .75rem;
	display: block;
}

.btn-load {
	/*margin-top: 3rem;*/
}

.btn-text {
	border: none;
	background-color: transparent;
	color: var(--primary);
}

.btn-text:focus,
.btn-text:hover {
	text-decoration: underline;
}