RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond $1 !^(config|core)

# RewriteRule ^test?$ index.php
RewriteRule ^(.*)$ index.php/$1 [L,QSA]